*.o
*.dSYM
*.csv
*.out
*.png
darknet/mnist/
darknet/data/
darknet/caffe/
darknet/grasp/
darknet/images/
darknet/opencv/
darknet/convnet/
darknet/decaf/
darknet/submission/
darknet/cfg/
darknet/darknet
.fuse*
orbslam-windows/CMakeLists.txt.user
orbslam-windows/Examples/Monocular/mono_euroc
orbslam-windows/Examples/Monocular/mono_kitti
orbslam-windows/Examples/Monocular/mono_tum
orbslam-windows/Examples/RGB-D/rgbd_tum
orbslam-windows/Examples/ROS/ORB_SLAM2/CMakeLists.txt.user
orbslam-windows/Examples/ROS/ORB_SLAM2/Mono
orbslam-windows/Examples/ROS/ORB_SLAM2/MonoAR
orbslam-windows/Examples/ROS/ORB_SLAM2/RGBD
orbslam-windows/Examples/ROS/ORB_SLAM2/Stereo
orbslam-windows/Examples/ROS/ORB_SLAM2/build/
orbslam-windows/Examples/Stereo/stereo_euroc
orbslam-windows/Examples/Stereo/stereo_kitti
orbslam-windows/KeyFrameTrajectory.txt
orbslam-windows/Thirdparty/DBoW2/build/
orbslam-windows/Thirdparty/DBoW2/lib/
orbslam-windows/Thirdparty/g2o/build/
orbslam-windows/Thirdparty/g2o/config.h
orbslam-windows/Thirdparty/g2o/lib/
orbslam-windows/Vocabulary/ORBvoc.txt
orbslam-windows/build/
orbslam-windows/Examples/Monocular/ORBvoc.txt
darknet/build/darknet/x64/yolo.weights

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
